In [1]:
import pandas as pd

data = {
    'id': [664, 665, 666, 667, 668],
    'date': ['2020-09-14', '2020-09-15', '2020-09-16', '2020-09-17', '2020-09-18'],
    'spent': [7.66, 3.81, 4.04, 3.49, 1.9],
    'clicks': [259, 128, 128, 109, 52],
    'impressions': [7219, 3374, 3261, 2337, 1382],
    'visible_impressions': [1974, 1035, 1003, 821, 476],
    'conversions': [None, None, None, None, None],
    'total_revenue': [10.5725, 6.29963, 4.87359, 6.30512, 7.87467],
    'total_served_impressions': [1974, 1035, 1003, 821, 476],
    'created_at': ['2020-09-23 12:04:34', '2020-09-23 12:04:34', '2020-09-23 12:04:34', '2020-09-23 12:04:34', '2020-09-23 12:04:34'],
    'created_by': ['None', 'None', 'None', 'None', 'None'],
    'revenue_json': [{'dfp': '3.48848', 'ga': '2.747429', 'av': '4.3365939999999995'}, {'dfp': '3.224645', 'ga': '2.029683', 'av': '1.045302'}, {'dfp': '2.198011', 'ga': '0.943874', 'av': '1.731705'}, {'dfp': '3.011929', 'ga': '1.621988', 'av': '1.6712039999999998'}, {'dfp': '2.351027', 'ga': '4.426347', 'av': '1.097296'}],
    'served_impressions_json': [{'dfp': 536.0, 'ga': 1255.0, 'taboola': 285.0}, {'dfp': 271.0, 'ga': 671.0, 'taboola': 149.0}, {'dfp': 277.0, 'ga': 651.0, 'taboola': 120.0}, {'dfp': 230.0, 'ga': 522.0, 'taboola': 103.0}, {'dfp': 130.0, 'ga': 307.0, 'taboola': 63.0}],
    'campaign_id': [181, 181, 181, 181, 181],
    'client_id': [1, 1, 1, 1, 1],
    'sessions': [None, None, None, None, None],
    'bounce_rate': [None, None, None, None, None]
}

df = pd.DataFrame(data)

# Convert 'date' column to datetime
df['date'] = pd.to_datetime(df['date'])

# Convert 'created_at' column to datetime
df['created_at'] = pd.to_datetime(df['created_at'])

df.head()

,id,date,spent,clicks,impressions,visible_impressions,conversions,total_revenue,total_served_impressions,created_at,created_by,revenue_json,served_impressions_json,campaign_id,client_id,sessions,bounce_rate
0,664,2020-09-14,7.66,259,7219,1974,None,10.57250,1974,2020-09-23 12:04:34,None,"{'dfp': '3.48848', 'ga': '2.747429', 'av': '4....","{'dfp': 536.0, 'ga': 1255.0, 'taboola': 285.0}",181,1,None,None
1,665,2020-09-15,3.81,128,3374,1035,None,6.29963,1035,2020-09-23 12:04:34,None,"{'dfp': '3.224645', 'ga': '2.029683', 'av': '1...","{'dfp': 271.0, 'ga': 671.0, 'taboola': 149.0}",181,1,None,None
2,666,2020-09-16,4.04,128,3261,1003,None,4.87359,1003,2020-09-23 12:04:34,None,"{'dfp': '2.198011', 'ga': '0.943874', 'av': '1...","{'dfp': 277.0, 'ga': 651.0, 'taboola': 120.0}",181,1,None,None
3,667,2020-09-17,3.49,109,2337,821,None,6.30512,821,2020-09-23 12:04:34,None,"{'dfp': '3.011929', 'ga': '1.621988', 'av': '1...","{'dfp': 230.0, 'ga': 522.0, 'taboola': 103.0}",181,1,None,None
4,668,2020-09-18,1.90,52,1382,476,None,7.87467,476,2020-09-23 12:04:34,None,"{'dfp': '2.351027', 'ga': '4.426347', 'av': '1...","{'dfp': 130.0, 'ga': 307.0, 'taboola': 63.0}",181,1,None,None

In [2]:
for col in df['revenue_json']:
    print(col)

{'dfp': '3.48848', 'ga': '2.747429', 'av': '4.3365939999999995'}
{'dfp': '3.224645', 'ga': '2.029683', 'av': '1.045302'}
{'dfp': '2.198011', 'ga': '0.943874', 'av': '1.731705'}
{'dfp': '3.011929', 'ga': '1.621988', 'av': '1.6712039999999998'}
{'dfp': '2.351027', 'ga': '4.426347', 'av': '1.097296'}

In [3]:
df['dfp'] = df['revenue_json'].apply(lambda x: x.astype(float))

AttributeError: 'dict' object has no attribute 'astype'

In [6]:
df['dfp'] = df['revenue_json'].apply(lambda x: float(x['dfp']))

In [4]:
{'dfp': '3.48848', 'ga': '2.747429', 'av': '4.3365939999999995'}['dfp']

'3.48848'

In [7]:
df['revenue_json']

0    {'dfp': '3.48848', 'ga': '2.747429', 'av': '4....
1    {'dfp': '3.224645', 'ga': '2.029683', 'av': '1...
2    {'dfp': '2.198011', 'ga': '0.943874', 'av': '1...
3    {'dfp': '3.011929', 'ga': '1.621988', 'av': '1...
4    {'dfp': '2.351027', 'ga': '4.426347', 'av': '1...
Name: revenue_json, dtype: object

In [41]:
# Sample data for each column
data = {
    'list_col': [[1, 2, 3], [4, 5, 6]],
    'tuple_col': [(1, 'a'), (2, 'b')],
    'dict_col': [{'a': 1,'b':10}, {'x': 10}],
    'mixed_list_col': [['apple', 'banana'], [1, 2, 3]]
}

# Create DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
df

    list_col tuple_col           dict_col   mixed_list_col
0  [1, 2, 3]    (1, a)  {'a': 1, 'b': 10}  [apple, banana]
1  [4, 5, 6]    (2, b)          {'x': 10}        [1, 2, 3]

In [44]:
data['dict_col'][0]['b']

10

In [47]:
data['mixed_list_col'][0][1]

'banana'

In [50]:
data['tuple_col']

[(1, 'a'), (2, 'b')]

In [11]:
df['ga'] = df['revenue_json'].apply(lambda x: float(x['ga']))

In [12]:
df['av'] = df['revenue_json'].apply(lambda x: float(x['av']))

In [13]:
df[['revenue_json','dfp','ga','av']]

,revenue_json,dfp,ga,av
0,"{'dfp': '3.48848', 'ga': '2.747429', 'av': '4....",3.488480,2.747429,4.336594
1,"{'dfp': '3.224645', 'ga': '2.029683', 'av': '1...",3.224645,2.029683,1.045302
2,"{'dfp': '2.198011', 'ga': '0.943874', 'av': '1...",2.198011,0.943874,1.731705
3,"{'dfp': '3.011929', 'ga': '1.621988', 'av': '1...",3.011929,1.621988,1.671204
4,"{'dfp': '2.351027', 'ga': '4.426347', 'av': '1...",2.351027,4.426347,1.097296

In [38]:
df

,id,date,spent,clicks,impressions,visible_impressions,conversions,total_revenue,total_served_impressions,created_at,...,revenue_json,served_impressions_json,campaign_id,client_id,sessions,bounce_rate,revenue_dict,dfp,ga,av
0,664,2020-09-14,7.66,259,7219,1974,None,10.57250,1974,2020-09-23 12:04:34,...,"{'dfp': 3.48848, 'ga': 2.747429, 'av': 4.336594}","{'dfp': 536.0, 'ga': 1255.0, 'taboola': 285.0}",181,1,None,None,"{'dfp': 3.48848, 'ga': 2.747429, 'av': 4.336594}",3.488480,2.747429,4.336594
1,665,2020-09-15,3.81,128,3374,1035,None,6.29963,1035,2020-09-23 12:04:34,...,"{'dfp': 3.224645, 'ga': 2.029683, 'av': 1.045302}","{'dfp': 271.0, 'ga': 671.0, 'taboola': 149.0}",181,1,None,None,"{'dfp': 3.224645, 'ga': 2.029683, 'av': 1.045302}",3.224645,2.029683,1.045302
2,666,2020-09-16,4.04,128,3261,1003,None,4.87359,1003,2020-09-23 12:04:34,...,"{'dfp': 2.198011, 'ga': 0.943874, 'av': 1.731705}","{'dfp': 277.0, 'ga': 651.0, 'taboola': 120.0}",181,1,None,None,"{'dfp': 2.198011, 'ga': 0.943874, 'av': 1.731705}",2.198011,0.943874,1.731705
3,667,2020-09-17,3.49,109,2337,821,None,6.30512,821,2020-09-23 12:04:34,...,"{'dfp': 3.011929, 'ga': 1.621988, 'av': 1.6712...","{'dfp': 230.0, 'ga': 522.0, 'taboola': 103.0}",181,1,None,None,"{'dfp': 3.011929, 'ga': 1.621988, 'av': 1.6712...",3.011929,1.621988,1.671204
4,668,2020-09-18,1.90,52,1382,476,None,7.87467,476,2020-09-23 12:04:34,...,"{'dfp': 2.351027, 'ga': 4.426347, 'av': 1.097296}","{'dfp': 130.0, 'ga': 307.0, 'taboola': 63.0}",181,1,None,None,"{'dfp': 2.351027, 'ga': 4.426347, 'av': 1.097296}",2.351027,4.426347,1.097296

In [39]:
check_type1="{'dfp': 3.48848, 'ga': 2.747429, 'av': 4.336594}"

In [44]:
type(check_type1)

str

In [49]:
check_type2={"dfp": 3.48848, "ga": 2.747429, "av": 4.336594}

In [47]:
type(check_type2)

dict

In [24]:
revenue_df = pd.DataFrame(df['revenue_json'].tolist())

In [25]:
revenue_df

                                                   0
0   {'dfp': 3.48848, 'ga': 2.747429, 'av': 4.336594}
1  {'dfp': 3.224645, 'ga': 2.029683, 'av': 1.045302}
2  {'dfp': 2.198011, 'ga': 0.943874, 'av': 1.731705}
3  {'dfp': 3.011929, 'ga': 1.621988, 'av': 1.6712...
4  {'dfp': 2.351027, 'ga': 4.426347, 'av': 1.097296}

In [12]:
import pandas as pd

# Assuming df is your DataFrame
# First, convert the 'revenue_json' column to a DataFrame
revenue_df = pd.DataFrame(df['revenue_json'].tolist())

# Sum up the 'dfp' column from revenue_df
dfp_revenue = revenue_df['dfp']


# Calculate the percentage contribution of 'dfp' component in total revenue
df['dfp_contribution_percentage'] = (dfp_revenue / df['total_revenue']) * 100

# Print the result
print("Percentage contribution of 'dfp' component in total revenue:", df['dfp_contribution_percentage'])

Percentage contribution of 'dfp' component in total revenue: 0    32.995791
1    51.187848
2    45.100450
3    47.769575
4    29.855562
Name: dfp_contribution_percentage, dtype: float64

In [7]:
revenue_df

        dfp        ga        av
0  3.488480  2.747429  4.336594
1  3.224645  2.029683  1.045302
2  2.198011  0.943874  1.731705
3  3.011929  1.621988  1.671204
4  2.351027  4.426347  1.097296

In [9]:
dfp_revenue = revenue_df['dfp'].sum()
dfp_revenue

14.274092

In [23]:
df

,id,date,spent,clicks,impressions,visible_impressions,conversions,total_revenue,total_served_impressions,created_at,created_by,revenue_json,served_impressions_json,campaign_id,client_id,sessions,bounce_rate,dfp_contribution_percentage
0,664,2020-09-14,7.66,259,7219,1974,None,10.57250,1974,2020-09-23 12:04:34,None,"{'dfp': 3.48848, 'ga': 2.747429, 'av': 4.336594}","{'dfp': 536.0, 'ga': 1255.0, 'taboola': 285.0}",181,1,None,None,32.995791
1,665,2020-09-15,3.81,128,3374,1035,None,6.29963,1035,2020-09-23 12:04:34,None,"{'dfp': 3.224645, 'ga': 2.029683, 'av': 1.045302}","{'dfp': 271.0, 'ga': 671.0, 'taboola': 149.0}",181,1,None,None,51.187848
2,666,2020-09-16,4.04,128,3261,1003,None,4.87359,1003,2020-09-23 12:04:34,None,"{'dfp': 2.198011, 'ga': 0.943874, 'av': 1.731705}","{'dfp': 277.0, 'ga': 651.0, 'taboola': 120.0}",181,1,None,None,45.100450
3,667,2020-09-17,3.49,109,2337,821,None,6.30512,821,2020-09-23 12:04:34,None,"{'dfp': 3.011929, 'ga': 1.621988, 'av': 1.6712...","{'dfp': 230.0, 'ga': 522.0, 'taboola': 103.0}",181,1,None,None,47.769575
4,668,2020-09-18,1.90,52,1382,476,None,7.87467,476,2020-09-23 12:04:34,None,"{'dfp': 2.351027, 'ga': 4.426347, 'av': 1.097296}","{'dfp': 130.0, 'ga': 307.0, 'taboola': 63.0}",181,1,None,None,29.855562

In [13]:
import pandas as pd
import time

# Function to calculate the percentage contribution of 'dfp' component in total revenue
def calculate_dfp_contribution(df):
    # Convert the 'revenue_json' column to a DataFrame
    revenue_df = pd.DataFrame(df['revenue_json'].tolist())

    # Sum up the 'dfp' column from revenue_df
    dfp_revenue = revenue_df['dfp']

    # Calculate the percentage contribution of 'dfp' component in total revenue
    df['dfp_contribution_percentage'] = (dfp_revenue / df['total_revenue']) * 100

    return df['dfp_contribution_percentage']

# Assuming df is your DataFrame
# Start time
time1 = time.time()

# Calculate percentage contribution
percentage_contribution = calculate_dfp_contribution(df)

# End time
time2 = time.time()

# Print the result and execution time
print("Answer:", percentage_contribution)
print("Execution time:", time2 - time1, "seconds")

Answer: 0    32.995791
1    51.187848
2    45.100450
3    47.769575
4    29.855562
Name: dfp_contribution_percentage, dtype: float64
Execution time: 0.004756927490234375 seconds

In [6]:
# Given values
total_clicks = 1000000
total_spend = 1000
cpc = 1
rpc = 0.02  # 2% of CPC, typical range for display ads

# Assuming DFP's share of impressions is 30%
dfp_share_of_impressions = 0.30

# Calculate total revenue
total_revenue = total_clicks * rpc

# Calculate DFP revenue
dfp_revenue = total_revenue * dfp_share_of_impressions

print("Total Revenue: $", total_revenue)
print("DFP Revenue: $", dfp_revenue)

Total Revenue: $ 20000.0
DFP Revenue: $ 6000.0

### New Approch for bigdata

In [1]:
import pandas as pd
import numpy as np

# Create a function to generate random revenue_json values
def generate_revenue_json():
    return {'dfp': np.random.uniform(0.1, 10), 'ga': np.random.uniform(0.1, 10), 'av': np.random.uniform(0.1, 10)}

# Create a random DataFrame
random_data = {
    'id': np.random.randint(1000000, 9999999, size=2900000),
    'date': np.random.choice(pd.date_range('2020-01-01', '2024-01-01'), size=2900000),
    'spent': np.random.uniform(0.1, 100, size=2900000),
    'clicks': np.random.randint(1, 1000, size=2900000),
    'impressions': np.random.randint(1000, 10000, size=2900000),
    'visible_impressions': np.random.randint(500, 2000, size=2900000),
    'conversions': [None] * 2900000,
    'total_served_impressions': np.random.randint(500, 2000, size=2900000),
    'created_at': np.random.choice(pd.date_range('2020-01-01', '2024-01-01'), size=2900000),
    'created_by': np.random.choice(['User1', 'User2', 'User3'], size=2900000),
    'revenue_json': [generate_revenue_json() for _ in range(2900000)],
    'served_impressions_json': [{'dfp': np.random.randint(100, 1000), 'ga': np.random.randint(100, 1000), 'taboola': np.random.randint(100, 1000)} for _ in range(2900000)],
    'campaign_id': np.random.randint(100, 1000, size=2900000),
    'client_id': np.random.randint(1, 10, size=2900000),
    'sessions': [None] * 2900000,
    'bounce_rate': [None] * 2900000
}

# Create DataFrame
random_df = pd.DataFrame(random_data)

# Calculate total revenue based on the values present in the 'revenue_json' column
random_df['total_revenue'] = random_df['revenue_json'].apply(lambda x: x['dfp'] + x['ga'] + x['av'])

# Display the DataFrame
print(random_df.head())

        id       date      spent  clicks  impressions  visible_impressions  \
0  5561937 2020-03-16  13.024984     315         5860                  764
1  9790949 2022-02-11  29.048077     123         9546                 1870
2  4296368 2021-12-06  78.818593       5         2045                 1702
3  7521972 2020-11-11  36.481755     396         4517                 1877
4  8677842 2022-08-26  42.712010     547         1496                  813

  conversions  total_served_impressions created_at created_by  \
0        None                      1027 2023-10-10      User3
1        None                      1822 2020-09-17      User1
2        None                      1530 2020-05-31      User1
3        None                      1305 2023-02-08      User2
4        None                       639 2021-02-06      User3

                                        revenue_json  \
0  {'dfp': 2.7668577088605852, 'ga': 9.1862676383...
1  {'dfp': 7.63401030814309, 'ga': 9.465920473143...
2  {'dfp': 6.659372474637657, 'ga': 0.75210446867...
3  {'dfp': 5.177518949949488, 'ga': 9.28731129423...
4  {'dfp': 9.747214251490831, 'ga': 3.15924458923...

                   served_impressions_json  campaign_id  client_id sessions  \
0  {'dfp': 146, 'ga': 348, 'taboola': 293}          478          2     None
1  {'dfp': 621, 'ga': 563, 'taboola': 337}          389          8     None
2  {'dfp': 889, 'ga': 229, 'taboola': 484}          231          9     None
3  {'dfp': 385, 'ga': 673, 'taboola': 857}          946          4     None
4  {'dfp': 793, 'ga': 419, 'taboola': 526}          457          4     None

  bounce_rate  total_revenue
0        None      15.671796
1        None      23.437825
2        None      16.593326
3        None      18.446225
4        None      18.172428

In [2]:
random_df

,id,date,spent,clicks,impressions,visible_impressions,conversions,total_served_impressions,created_at,created_by,revenue_json,served_impressions_json,campaign_id,client_id,sessions,bounce_rate,total_revenue
0,5561937,2020-03-16,13.024984,315,5860,764,None,1027,2023-10-10,User3,"{'dfp': 2.7668577088605852, 'ga': 9.1862676383...","{'dfp': 146, 'ga': 348, 'taboola': 293}",478,2,None,None,15.671796
1,9790949,2022-02-11,29.048077,123,9546,1870,None,1822,2020-09-17,User1,"{'dfp': 7.63401030814309, 'ga': 9.465920473143...","{'dfp': 621, 'ga': 563, 'taboola': 337}",389,8,None,None,23.437825
2,4296368,2021-12-06,78.818593,5,2045,1702,None,1530,2020-05-31,User1,"{'dfp': 6.659372474637657, 'ga': 0.75210446867...","{'dfp': 889, 'ga': 229, 'taboola': 484}",231,9,None,None,16.593326
3,7521972,2020-11-11,36.481755,396,4517,1877,None,1305,2023-02-08,User2,"{'dfp': 5.177518949949488, 'ga': 9.28731129423...","{'dfp': 385, 'ga': 673, 'taboola': 857}",946,4,None,None,18.446225
4,8677842,2022-08-26,42.712010,547,1496,813,None,639,2021-02-06,User3,"{'dfp': 9.747214251490831, 'ga': 3.15924458923...","{'dfp': 793, 'ga': 419, 'taboola': 526}",457,4,None,None,18.172428
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2899995,2929321,2020-12-14,21.283700,213,4097,815,None,768,2021-06-23,User3,"{'dfp': 8.166721298472156, 'ga': 5.29144722473...","{'dfp': 380, 'ga': 902, 'taboola': 419}",122,3,None,None,14.900789
2899996,5319898,2022-10-23,28.791937,979,5848,1523,None,963,2023-04-17,User2,"{'dfp': 8.968504222522782, 'ga': 5.24900959442...","{'dfp': 519, 'ga': 481, 'taboola': 245}",629,7,None,None,20.210458
2899997,4766716,2022-07-28,47.153677,632,9417,1424,None,701,2023-11-01,User1,"{'dfp': 1.9402913995739328, 'ga': 0.8274202006...","{'dfp': 889, 'ga': 448, 'taboola': 265}",599,9,None,None,2.970834
2899998,7002816,2021-04-12,0.532047,535,1346,1403,None,753,2021-11-12,User2,"{'dfp': 7.245762551387347, 'ga': 4.83514634318...","{'dfp': 864, 'ga': 355, 'taboola': 774}",939,5,None,None,19.263934
2899999,7976778,2021-11-04,6.985164,23,6324,1178,None,1019,2021-12-06,User1,"{'dfp': 7.82888376103872, 'ga': 3.066482525847...","{'dfp': 135, 'ga': 366, 'taboola': 286}",462,3,None,None,11.244254

In [3]:
import pandas as pd
import time

# Function to calculate the percentage contribution of 'dfp' component in total revenue
def calculate_dfp_contribution(random_df):
    # Convert the 'revenue_json' column to a DataFrame
    revenue_df = pd.DataFrame(random_df['revenue_json'].tolist())

    # Sum up the 'dfp' column from revenue_df
    dfp_revenue = revenue_df['dfp']

    # Calculate the percentage contribution of 'dfp' component in total revenue
    random_df['dfp_contribution_percentage'] = (dfp_revenue / random_df['total_revenue']) * 100

    return random_df['dfp_contribution_percentage']

# Assuming df is your DataFrame
# Start time
time1 = time.time()

# Calculate percentage contribution
percentage_contribution = calculate_dfp_contribution(random_df)

# End time
time2 = time.time()

# Print the result and execution time
print("Answer:", percentage_contribution)
print("Execution time:", time2 - time1, "seconds")

Answer: 0          17.655013
1          32.571326
2          40.132838
3          28.068177
4          53.637381
             ...
2899995    54.807306
2899996    44.375561
2899997    65.311346
2899998    37.613098
2899999    69.625641
Name: dfp_contribution_percentage, Length: 2900000, dtype: float64
Execution time: 2.496938943862915 seconds

In [4]:
import pandas as pd
import time
# Start time
time1 = time.time()


# Convert the 'revenue_json' column to a DataFrame
revenue_df = pd.DataFrame(random_df['revenue_json'].tolist())

# Sum up the 'dfp' column from revenue_df
dfp_revenue = revenue_df['dfp']

# Calculate the percentage contribution of 'dfp' component in total revenue
random_df['dfp_contribution_percentage'] = (dfp_revenue / random_df['total_revenue']) * 100

# End time
time2 = time.time()

# Print the result and execution time
print("Answer:", percentage_contribution)
print("Execution time:", time2 - time1, "seconds")

Answer: 0          17.655013
1          32.571326
2          40.132838
3          28.068177
4          53.637381
             ...
2899995    54.807306
2899996    44.375561
2899997    65.311346
2899998    37.613098
2899999    69.625641
Name: dfp_contribution_percentage, Length: 2900000, dtype: float64
Execution time: 2.573441982269287 seconds

Q2. Estiamte the total DFP revenue on 14th July 2023 for 1000$ spends on 1,000,000clicks.

In [5]:
# Step 1: Filter the DataFrame for the date '2023-07-14'
df_july_14_2023 = random_df[random_df['date'] == '2023-07-14']

# Step 2: Calculate the average revenue per click (RPC)
average_rpc_dfp = df_july_14_2023['revenue_json'].apply(lambda x: x['dfp']).mean()

# Step 3: Estimate the total DFP revenue
total_clicks = 1000000
total_spends = 1000
estimated_dfp_revenue = total_clicks * average_rpc_dfp * total_spends

print("Estimated total DFP revenue on July 14, 2023: $", estimated_dfp_revenue)

Estimated total DFP revenue on July 14, 2023: $ 4913621201.330721

In [10]:
# Step 1: Filter the DataFrame for the date '2023-07-14'
df_july_14_2023 = random_df[random_df['date'] == '2023-07-14']

# Step 2: Fetch the total number of clicks for the date '2023-07-14'
total_clicks_july_14_2023 = df_july_14_2023['clicks'].sum()

# Step 3: Calculate the average revenue per click (RPC)
average_rpc_dfp = df_july_14_2023['revenue_json'].apply(lambda x: x['dfp']).mean()

# Step 4: Estimate the total DFP revenue

total_clicks = 1000000
total_spends = 1000
per_click=total_clicks/total_spends
estimated_dfp_revenue = total_clicks_july_14_2023 * per_click * average_rpc_dfp

print("Estimated total DFP revenue on July 14, 2023: $", estimated_dfp_revenue)

Estimated total DFP revenue on July 14, 2023: $ 4815392999.894918

In [11]:
# Step 1: Filter the DataFrame for the date '2023-07-14'
df_july_14_2023 = random_df[random_df['date'] == '2023-07-14']

# Step 2: Fetch the total number of clicks for the date '2023-07-14'
total_clicks_july_14_2023 = df_july_14_2023['clicks'].sum()

# Step 3: Calculate the average revenue per click (RPC)
average_rpc_dfp = df_july_14_2023['revenue_json'].apply(lambda x: x['dfp']).mean()

# Step 4: Estimate the total DFP revenue
total_spends = 1000
estimated_dfp_revenue = total_clicks_july_14_2023 * average_rpc_dfp * total_spends

print("Estimated total DFP revenue on July 14, 2023: $", estimated_dfp_revenue)

Estimated total DFP revenue on July 14, 2023: $ 4815392999.894918

In [29]:
revenue_df = pd.DataFrame(random_df['revenue_json'].tolist())
revenue_df

              dfp        ga        av
0        2.814422  5.009613  0.680621
1        1.077833  5.105285  8.871371
2        8.458655  0.615373  3.345765
3        6.401140  3.477149  1.843993
4        9.090314  9.573857  4.453091
...           ...       ...       ...
2899995  2.363229  5.970286  2.369969
2899996  7.728106  4.857507  8.573844
2899997  8.737410  4.863047  8.302999
2899998  8.106406  4.337606  8.159968
2899999  6.792785  4.354698  2.754692

[2900000 rows x 3 columns]